body {
  font-family: "Montserrat", sans-serif;
}

#title {
  font-weight: 600;
  font-size: 1.8em;
}
.label {
  z-index: 3;
}

.bottom {
}

.container {
  margin: auto 0;
  text-align: center;
  max-width: 900px;
  background-color: #fff;
  border-radius: 10px;
}

button.btn {
  margin: 1em;
}

hr {
  color: red;
  border: 1px solid;
}

.top {
  background: #000 url("bball.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  color: #fff;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: white !important;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none;
  color: #000;
  z-index: 10 !important;
}
